.b05 {
  padding-bottom: 60px;
  position: relative;
  background: url("../img/b05_bg.jpg") center 107px no-repeat;
}
.b05 .green-sheet {
  left: 0;
  z-index: 1;
  bottom: 150px;
  width: 227px;
  height: 354px;
  position: absolute;
  background: url("../img/green-sheet.png") 100% 0 no-repeat;
}
.b05 .egg {
  right: 0;
  z-index: 1;
  bottom: 170px;
  width: 209px;
  height: 158px;
  position: absolute;
  background: url("../img/egg.png") 100% 0 no-repeat;
}
.b05 .container {
  z-index: 10;
  height: 100%;
}
.b05 .wave-line {
  height: 102px;
  margin-bottom: 70px;
  background: url("../img/wave-line.png") center bottom no-repeat;
}
.b05 h2 {
  color: #505961;
  margin-bottom: 310px;
}
.b05 .order-line {
  text-align: center;
  margin-bottom: 54px;
}
.b05 .compare {
  margin: 0 -45px 110px -45px;
}
.b05 .compare li {
  margin-bottom: 45px;
}
.b05 .caviar-valid {
  float: left;
  width: 408px;
  height: 466px;
  color: #82ae0a;
  font-size: 18px;
  line-height: 26px;
  position: relative;
}
.b05 .caviar-invalid {
  float: right;
  width: 415px;
  height: 466px;
  color: #cf192a;
  font-size: 18px;
  line-height: 26px;
  position: relative;
}
.b05 .caviar-text {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding: 200px 45px 0 125px;
}
.b05 .caviar-test {
  color: #fff;
  width: 350px;
  height: 350px;
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  border-radius: 50%;
  text-align: center;
  border: 5px solid #fff;
  margin: -280px auto 0 auto;
}
.b05 .caviar-test .caviar-test-row {
  width: 100%;
  height: 100%;
  display: table;
}
.b05 .caviar-test .caviar-test-col {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
}
.b05 .caviar-test .caviar-test-title {
  color: #f07410;
  font-size: 24px;
  margin-bottom: 15px;
  display: block;
}
.b05 .video {
  width: 100%;
  position: relative;
  padding-bottom: 50.25%;
  height: 0;
}
.b05 .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 1269px) {
  .b05 .compare {
    margin: 0 0 110px 0;
  }
  .b05 .compare li {
    margin-bottom: 40px;
  }
  .b05 .caviar-valid {
    width: 340px;
    height: auto;
    font-size: 16px;
    line-height: 24px;
  }
  .b05 .caviar-invalid {
    width: 340px;
    height: auto;
    font-size: 16px;
    line-height: 24px;
  }
  .b05 .caviar-text {
    padding: 150px 30px 0 100px;
  }
  .b05 .caviar-test {
    width: 290px;
    height: 290px;
    font-size: 17px;
    font-weight: 600;
    line-height: 34px;
    margin: -180px auto 0 auto;
  }
  .b05 .caviar-test .caviar-test-title {
    font-size: 22px;
  }
}
@media (max-width: 1023px) {
  .b05 h2 {
    margin-bottom: 290px;
  }
  .b05 .compare {
    padding-top: 150px;
    margin: 0 0 60px 0;
  }
  .b05 .compare li {
    margin-bottom: 20px;
  }
  .b05 .caviar-valid {
    width: 300px;
    height: auto;
    font-size: 16px;
    line-height: 20px;
    margin-left: -10px;
  }
  .b05 .caviar-invalid {
    width: 300px;
    height: auto;
    font-size: 16px;
    line-height: 20px;
    margin-right: -10px;
  }
  .b05 .caviar-text {
    padding: 140px 25px 0 90px;
  }
  .b05 .caviar-test {
    width: 290px;
    height: 290px;
    font-size: 17px;
    font-weight: 600;
    line-height: 34px;
    margin: -20px auto 0 auto;
  }
  .b05 .caviar-test .caviar-test-title {
    font-size: 22px;
  }
}
