.b07 {
  height: 860px;
  position: relative;
  text-align: center;
  padding-top: 318px;
  background: url("../img/b07_bg.jpg") top center no-repeat;
}
.b07 .video-play {
  width: 133px;
  height: 132px;
  display: inline-block;
  margin-bottom: 50px;
  background: url("../img/icon-play.png") 0 0 no-repeat;
}
.b07 .text {
  color: #fff;
  height: 35px;
  font-size: 34px;
  line-height: 35px;
}
@media (max-width: 1023px) {
  .b07 {
    height: 670px;
    padding-top: 250px;
    background-position: 50% -40px;
  }
}
